body{
    margin:0;
    padding:0;
    background-size: cover;
    background: url(../../SummerPhpPro/includes/SignUpbg.jpg);
    /*background-repeat: no-repeat;*/
    font-family: sans-serif;
}
.SignUpBox{
    padding: 80px 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:400px;
    height: 750px;
    box-sizing:border-box;
    background: rgba(0,0,0,.5);
}
h1{
    margin:0 0 0 0;
    padding:0 0px 15px 0px;
    color: azure;
    font-size: 40px;
    text-align: right;
}
.SignUpBox p{
    margin:0;
    padding: 0 0 4px 0;
    font-weight: bold;
    color:#fff;
}
.SignUpBox input{
    width:100%;
    margin-bottom: 20px;
}
.SignUpBox input[type="text"],.SignUpBox input[type="password"],
.SignUpBox input[type="email"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}
::placeholder{
    color:rgba(255,255,255,.5);
}
.SignUpBox input[type="submit"]{
    margin: 30px 0 0 0;
    border:none;
    outline:none;
    height:40px;
    font-size: 16px;
    background: steelblue;
    color: whitesmoke;
    cursor:pointer;
    border-radius:20px;
    padding: 0 0 0 0;
}
.SignUpBox input[type="submit"]:hover{
    background: whitesmoke ;
    color: steelblue;
}
/*Select box*/
select{
    font-size: 100%;
    text-indent: 0px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    outline: none;
    margin:0 0 0 5px;
    padding: 13px 155px 3px 70px;
    color: darkgrey;
}

/*.box6 .input{
    border: 1px solid #ddd;
    border-radius: 3px;
    padding:8px 6px;
    color:#999;
    font-weight: 300;
    font-size: 13px;
    position: relative;
}
.select
{
    cursor: pointer;
    position: relative;
    margin: 50px auto;
    width: 250px;
}
.select .input:after, .select .input:before
{
    content: '';
    position: absolute;
    left:calc(100% - 20px);
    transform:translateY(-50%);
    width:0;
    height:0;
}
.select .input:before
{
    border-top: 5px solid #999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 50%;
}
.select .input:after
{
    border-top: 5px solid #fff;
    border-left:5px solid transparent;
    border-right: 5px solid transparent;
    top: calc(50% - 1px);
}
.select-options
{
    border: 1px solid steelblue;
    position:absolute;
    width: 100%;
    border-radius: 3px;
    z-index: 100;
    top: 0;
    left: 0;
    padding-top: 30px;
    display: none;
}
.select-options ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.select-options ul li{
    padding: 8px 50px 8px 6px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    color: #999999;
    font-weight: 300;
    position: relative;
    overflow: hidden;
}
.select-options ul li:last-child{
    border-bottom: 0;
}
.select-options ul li.selected > span:first-child{
    color:cornflowerblue;
}
.select-options ul li.selected:after{
    content: '';
    width: 5px;
    height: 10px;
    border: 1px solid cornflowerblue;
    border-right: 0;
    border-bottom: 0;
    left: calc(100% - 20px);
    top:50%;
    transform: translateY(-50%) rotate(-135deg);
    position: absolute;
}
